@import "react-calendar/dist/Calendar.css";
@import "react-date-picker/dist/DatePicker.css";

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #111827;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


