@import "react-calendar/dist/Calendar.css";
@import "react-date-picker/dist/DatePicker.css";

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #111827;
}



.range_start {
  background-color: #3b82f6 !important;
  color: white !important;
  font-weight: bold !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.range_end {
  background-color: #3b82f6 !important;
  color: white !important;
  font-weight: bold !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.range_middle {
  background-color: rgba(59, 130, 246, 0.3) !important;
  border-radius: 0 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


